.slider-container {
  width:595px;
  height:200px;
  margin:6px;
  border:3px solid #20a79c;
  float: left;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.draggable {
  height: 100%;
  width: 1000%;
  position: absolute;
  z-index: -1;
}

img {
  margin: -1px;
  width:600px;
  height: 100%;
}