.slider-container {
  width:48%;
  height:200px;
  margin:4px;
  border:1px solid black;
  float: left;
  position: relative;
  overflow: hidden;
}
.draggable {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: lightsteelblue;
  position: absolute;
  z-index: -1;
  left: 0;
}